@use "sass:map";
@use "theme" as *;

:host {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  position: relative;

  overflow: hidden;

  //color: rgb(202, 205, 212);
  color: #333;

  background: rgba(0,0,0,.05);
  border-radius: 19px;
}

.header {
  padding: 2px 19px;
  border-radius: 19px;

  background-color: map.get($azure, 80);

  &.parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 0;
}
