@use "sass:map";
@use "theme" as *;
@use "utils" as *;
@use "d3" as *;
@use "@angular/material" as mat;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
  position: relative;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  & > * {
    pointer-events: all;
  }
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host::ng-deep {
  .bar {
    stroke: #fff;
    stroke-width: .5px;
  }

  .series-completed .bar {
    fill: map.get($green, 30);
  }

  .series-active .bar {
    fill: map.get($azure, 30);
  }

  .series-remaining .bar {
    fill: rgb(0,120,212);
  }

  path.series-line {
    fill: none;
    stroke-width: 4px;
    stroke-miterlimit: 1;
  }

  @mixin series($color) {
    path {
      stroke: $color;
    }
    circle {
      fill: $color;
    }
  }

  .series-burndown {
    @include series(rgb(157, 157, 157));
  }

  .series-total-scope {
    @include series(rgb(255, 164, 56));
  }
}
