@use "sass:map";
@use "theme" as *;
@use "utils" as *;
@use "d3" as *;
@use "@angular/material" as mat;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
  position: relative;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  & > * {
    pointer-events: all;
  }
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  background: $foreground;
  opacity: 0;

  display: flex;
  flex-direction: column;
  padding: .25rem;
  border: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;

  ::ng-deep {
    .data-point {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    svg {
      height: 10px;
      width: 10px;
    }
  }
}

:host::ng-deep {
  .bar {
    stroke: #fff;
    stroke-width: .5px;
  }

  @mixin hover-key($name, $color) {
    .hover .data-point.data-point-#{$name} rect {
      fill: $color;
    }
  }

  @mixin bar-series($name, $color) {
    .series-#{$name} {
      .bar {
        fill: $color;
      }
    }
    @include hover-key($name, $color);
  }

  @include bar-series("completed", rgb(16,124,16));
  @include bar-series("active", map.get($azure, 30));
  @include bar-series("remaining", rgb(0,120,212));

  path.series-line {
    fill: none;
    stroke-width: 4px;
    stroke-miterlimit: 1;
  }

  @mixin series($name, $color) {
    .series-#{$name} {
      path {
        stroke: $color;
      }
    }
    @include hover-key($name, $color);
  }

  @mixin point-series($color) {
    circle.point {
      fill: $color;
      stroke: white;
      stroke-width: 1px;
    }
    circle.halo {
      fill: $color;
      fill-opacity: 0.25;
    }
  }

  @include series("burndown", rgb(157, 157, 157));
  @include series("total-scope", rgb(255, 164, 56));

  .series-burndown-points {
    @include point-series(rgb(157, 157, 157));
  }

  .series-total-scope-points {
    @include point-series(rgb(255, 164, 56));
  }

}
