@use "sass:map";
@use "theme" as *;
@use "utils" as *;
@use "d3" as *;
@use "@angular/material" as mat;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
}

:host::ng-deep {
  .bar.completed {
    fill: map.get($blue, 30);
  }

  .bar.active {
    fill: map.get($azure, 30);
  }

  .bar.remaining {
    fill: map.get($green, 30);
  }
}
