@use 'theme' as *;
@use "@angular/material" as mat;

.popup {
  border-radius: 4px;
  font-size: .7rem;
  padding: .5rem;

  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: mat.get-theme-color($theme, primary, 40);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.popup-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms linear;
}

.popup-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 150ms, opacity 150ms linear;
}
