@use "sass:map";
@use "utils" as *;
@use "d3" as *;
@use "theme" as *;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  .d3-svg {
    pointer-events: none;
    z-index: 10;
  }

  .html-container {
    position: absolute;
    top:0;
  }
}

//.top-level-0 {
//  $primary-color: map.get($red, 50);
//  //border-color: $primary-color;
//}


