@use "sass:map";
@use "utils" as *;
@use "d3" as *;
@use "theme" as *;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  .d3-svg {
    pointer-events: none;
    z-index: 10;
  }

  .html-container {
    left: 20px;
    position: absolute;
    top: 30px;
  }
}

::ng-deep gantt-item.parent {
  padding: 5px 0;
  border: 1px solid rgba(0,0,0,.1);
}
//.top-level-0 {
//  $primary-color: map.get($red, 50);
//  //border-color: $primary-color;
//}


