<spinner-overlay [spin]="isLoading()">
  <div class="toolbar flex flex-row-reverse">
    <button mat-icon-button (click)="showConfigure()"><mat-icon>tune</mat-icon></button>
  </div>
  <div class="container d3-svg-container">
    <div class="html-container" #htmlContainer></div>
    <svg class="d3-svg" #svg></svg>
  </div>
  <div class="overlay" *ngIf="configureOpen()">
    <configure-gantt [config]="menuConfig" (onClose)="closeConfigure($event)"></configure-gantt>
  </div>
  <div class="hover" #hoverElement></div>
</spinner-overlay>
