@use 'utils' as *;

:host {
  @extend .full-height;
  justify-content: center;
  align-items: stretch;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
  padding: .5rem;

  .chart-row {
    display: flex;
    flex: 1;
    gap: 1rem;
    max-height: 500px;
  }
}
