@use "theme" as *;
@use "utils" as *;
@use "d3" as *;
@use "@angular/material" as mat;

:host {
  @extend .d3-svg-container;
  @extend .chart-card;
}


:host::ng-deep svg {
  .work-items {
    cursor: pointer;
    fill: mat.get-theme-color($theme, primary, 80);
    stroke: mat.get-theme-color($theme, primary, 60);
    stroke-width: 1px;
  }
  .cursor {
    stroke: rgba(0,0,0,.2);
    stroke-width: 1px;
    pointer-events: none;
  }
}

