@use './theme' as *;

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-card {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  background: $foreground;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
}
